<app-navbar></app-navbar>

<form
  class="col-sm-6 offset-sm-3 my-3"
  #formConnexion="ngForm"
  (submit)="onConnexion($event, formConnexion)"
>
  <!-- div.form-group*2>label+input.form-control -->
  <div class="form-group">
    <label for="login">login</label>
    <input
      type="text"
      class="form-control"
      id="login"
      name="login"
      ngModel
      #login="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="mdp">mot de passe</label>
    <input
      type="text"
      class="form-control"
      id="mdp"
      name="mdp"
      ngModel
      #mdp="ngModel"
    />
  </div>
  <div class="form-group text-center">
    <input type="submit" class="btn btn-primary" value="connexion" />
  </div>
</form>
<div class="text-center">
  {{ formConnexion.value | json }}
</div>
